<!DOCTYPE html>
<html lang="en">
	<meta charset="UTF-8">
	<title>&lt;poggers.gg&gt;</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="../assets/style.css">
	<!---<script src=""></script>--->
	
	<body>
		<h1>Welcome to &lt;poggers.gg&gt;</h1>
		<p>Here are poggers.gg we strive to provide the most pog service.</p>
		<div>
		<p>Im not sure what this website is for I bought the domain for a meme.</p>
		</div>
		<p>Testing 123...</p>
	</body>
</html>
